<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>View sensor data</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="webjars/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/cover.css}"/>
    <script src="webjars/jquery/jquery.min.js"></script>
    <link rel="stylesheet" href="https://kit-free.fontawesome.com/releases/latest/css/free.min.css">
    <!--    Table-->
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.0/dist/bootstrap-table.min.css">
    <script src="https://unpkg.com/bootstrap-table@1.18.0/dist/bootstrap-table.min.js"></script>
    <!--    //LoadData-->
    <script>
        function loadDataInAgent() {
            //Получаем список всех агентов
            $.ajax({
                type: 'GET',
                url: '/api/getAgentsList/',
                success: function (result) {
                    //var result = JSON.parse(result);
                    var s = '';
                    for (var i = 0; i < result.length; i++) {
                        s += '<option value="' + result[i].id + '">' + result[i].name + '</option>';
                    }
                    //alert(s);
                    $('#comboboxAgents').html(s);
                    if (result.length>0)
                        loadDataInSensors();
                },
                error: function () {
                    console.log("Произошла ошибка при получении списка агентов.");
                    alert("Произошла ошибка при получении списка агентов.");
                },
            });
        }

        function loadDataInSensors() {
            var agentId = $('#comboboxAgents').val();
            $.ajax({
                type: 'GET',
                url: '/api/getSensorList/' + agentId,
                success: function (result) {
                    var s = '';
                    for (var i = 0; i < result.length; i++) {
                        s += '<option value="' + result[i].id + '">' + result[i].name + '</option>';
                    }
                    $('#comboboxSensor').html(s);
                },
                error: function () {
                    console.log("Произошла ошибка при получении списка сенсоров.");
                    alert("Произошла ошибка при получении списка сенсоров.");
                },
            });
        }

        function loadDataInTable() {
            var sensorId = $('#comboboxSensor').val();
            $.ajax({
                type: 'GET',
                url: '/api/getSensorData/',
                success: function (result) {
                    var rows = []
                    for (var i = 0; i < 1000; i++) {
                        rows.push({
                            id: result[i].id,
                            temp: result[i].temp,
                            hum: result[i].hum,
                            localDateTime: result[i].localDateTime
                        })
                    }
                    $('#tableSensorValues').bootstrapTable('load', rows)
                },
                error: function () {
                    console.log("Произошла ошибка при получении списка показаний с датчика.");
                    alert("Произошла ошибка при получении показаний с датчика.");
                },
            });
        }
    </script>

    <!--    //Binding-->
    <script type="text/javascript">
        $(document).ready(function () {
            loadDataInAgent();
            $('#comboboxAgents').on('change', function () {
                loadDataInSensors();
            });
            $('#buttonGetValues').click(function () {
                loadDataInTable();
            })

        });
    </script>
</head>

<body class="text-center">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">TempCard</h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link active" href="#">Features</a>
                <a class="nav-link" href="/about">About</a>
            </nav>
        </div>
    </header>

    <main role="main" class="inner cover">
        <h1 class="View sensor data">Welcome!</h1>
        <!--Agent select-->
        <div class="form-group">
            <label for="comboboxAgents">Example select</label>
            <select class="form-control" id="comboboxAgents">
            </select>
        </div>
        <!--Sensor select-->
        <div class="form-group">
            <label for="comboboxSensor">Sensor select</label>
            <select class="form-control" id="comboboxSensor">
            </select>
        </div>

        <p class="lead">
            <button class="btn btn-lg btn-secondary" id="buttonGetValues">Get values</button>
        </p>

        <div class="tableSensorValue">
            <table

                    id="tableSensorValues"
                    data-toggle="table"
                    data-toolbar="#toolbar"
                    data-height="460"
                    data-search="true"
                    data-show-refresh="true"
                    data-show-fullscreen="true"
                    data-minimum-count-columns="2"
                    data-show-pagination-switch="true"
                    data-pagination="true"
                    data-id-field="id"
                    data-page-list="[10, 25, 50, 100, all]"
                    data-side-pagination="client">
                <thead>
                <tr>
                    <th data-field="id">ID</th>
                    <th data-field="temp">Temperature</th>
                    <th data-field="hum">Humidity</th>
                    <th data-field="localDateTime">Timestamp</th>
                </tr>
                </thead>
            </table>
        </div>
    </main>

    <footer class="mastfoot mt-auto" th:insert="blocks/footer"></footer>
</div>
</body>

</html>